body {
  font-family: Arial;
  background: #111;
  color: white;
}

input, textarea {
  display: block;
  margin: 5px;
  width: 90%;
}

#tabs button {
  margin: 3px;
  padding: 10px;
}

textarea {
  height: 60px;
}
